div.container {
  padding: 5%;

  .checkbox-container, table {
    margin: auto;
    width: 80%;
  }

  th {
    resize: horizontal;
    overflow: hidden;
  }

  .capitalize {
    text-transform: capitalize;
  }
}
