<div class="container">
  <div class="info">
    <p>A test project for Angular Material Data Table. Current features:</p>
    <ul>
      <li>Resizeable column width</li>
      <li>Show/hide columns</li>
      <li>Add new custom column (each element in the table will be assigned a random value between 0-99 in that column)</li>
    </ul>
  </div>
  <div class="checkbox-container">
    <h2>
      Columns
    </h2>
    <div *ngFor="let column of allColumnsInfo">
      <mat-checkbox [checked]="column.isVisible" (change)="toggleColumn($event)" [value]="column.key"
        class="capitalize">
        {{column.key}}
      </mat-checkbox>
    </div>
    <form #login="ngForm" (ngSubmit)="onClickSubmit(login.value)">
      <mat-form-field>
        <mat-label>Column Name</mat-label>
        <input matInput type="text" name="columnName" [(ngModel)]="inputValue">
      </mat-form-field>
      <button mat-button type="submit" value="submit" color="primary">ADD</button>
    </form>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef class="capitalize">{{column}}</th>
      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
